* {
    font-family: 'Grandstander', cursive; 
    font-size: 20px;  
}

body{
    background-image: url(unicorn.jpg);
}
table {
    display: block;
    border: 5px purple;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px #e7d5c0;
    width: 800px;
    border-collapse: collapse;
    background: rgb(151, 106, 151);
    text-align: left;
    color: white;
    margin: 10px auto; 
}

.text {
    padding-bottom: 2px; 
}

th, td {
    border-bottom: 1px solid purple;
    width: 800px;
    height: 2em;
  }
.img1, .img2, .img3 {
    padding-bottom: 2px;
}
.img1 {
    width: 25px;
    height: 25px;   
}

.img2 {
    width: 25px;
    height: 25px;
    float: right;
}

.img3 {
    width: 25px;
    height: 25px;
    float: left;
}

.search input {
    float: right;
    position: inherit;
    width: 60%;
    height: 30px;
    background: rgb(104, 37, 104);
    background-image: url(search.ico);
    color: darkgrey;
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 12px 40px 12px 40px;
    border-radius: 6px;
  }
  
  .bottom {
      border-bottom: none;
  }
  