* {
    font-family: 'Grandstander', cursive; 
    font-size: 20px; 
    
}

body{
    background-image: url(unicorn.jpg);
}
table {
    display: block;
    border: 5px purple;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px #e7d5c0;
    width: 800px;
    height: 200px;
    background: rgb(151, 106, 151);
    text-align: left;
    color: white;
    margin: 10px auto 10px;
    
}

th, td {
    border-bottom: 1px solid purple;
    width: 700px;
    height: 47px;
  }

.img1 {
    width: 25px;
    height: 25px;
}

.img2 {
    width: 25px;
    height: 25px;
    float: right;
}

.img3 {
    width: 25px;
    height: 25px;
}

.search {
    border: 
    1px solid grey;
    float: right;
    width: 50%;
    padding: 6px;
    background: #f1ceea;
}
  
  